<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}"> -->
</head>
<body>
<div class="container">
    <h1 class="page-header text-center">Add Data</h1>
    <form action = "/add" method = "post"> 
        <div class="mb-3">
            <label>Name</label>
            <input type = "text" name = "name" placeholder = "Name" class="form-control" />
        </div> 
        <div class="mb-3">
            <label>Position</label>
            <input type = "text" name = "position" placeholder = "position" class="form-control" />
        </div> 
        <div class="mb-3">
            <label>Office</label>
            <input type = "text" name = "office" placeholder = "office" class="form-control" />
        </div> 
     
        <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>  
     </form> 
      
     
</div>
</body>
</html>   